@media screen and (min-width: 300px) and (max-width: 576px) {
    /* navbar responsive code start here */
    .nav-parent{
        padding: 10px 25px;
    }
    .logo h2{
        font-size: 22px;
    }
    .nav-items{
        display: none;
    } 
    .nav-text-icon-parent h4{
        display: none;
    }
    .nav-icon .hidden-1{
        display: none;
    } 
    /* banner responsive code start here  */
    .banner-parent{
        display: block;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        margin: 40px 0;
        text-align: center;
    }
    .banner-text{
        width: 90%;
    }
    .banner-text h4{
        font-size: 16px;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .mini-img img{
        width: 65px;
    }
    .mini-img-2 img{
        width: 150px;
    }
    .button-text-parent{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }
    button{
        padding: 4px 12px;
        margin-right: 0px;
        font-size: 12px;
    }
    .button-text-items h2{
        font-size: 20px;
    }
    .banner-img img{
        width: 90%;
        height: 90%;
        margin-top: 60px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    /* navbar responsive code start here */
    .logo h2{
        font-size: 28px;
    }
    .nav-items{
        display: none;
    } 
    .nav-text-icon-parent h4{
        display: none;
    }
    /* banner responsive code start here  */
    .banner-parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        margin: 40px 0;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .banner-text h4{
        font-size: 16px;
    }
    .banner-text p{
        font-size: 15px;
        margin: 24px 0;
    }
    .mini-img img{
        width: 65px;
    }
    .mini-img-2 img{
        width: 100px;
    }
    .button-text-parent{
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    button{
        padding: 4px 12px;
        margin-right: 0px;
        font-size: 12px;
    }
    .button-text-items h2{
        font-size: 24px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    /* navbar responsive code start here */
    .logo h2{
        font-size: 28px;
    }
    .nav-items{
        display: block;
    } 
    .nav-text-icon-parent h4{
        display: none;
    }  
     /* banner responsive code start here  */
     .banner-parent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        margin: 40px 0;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .banner-text h4{
        font-size: 16px;
    }
    .banner-text p{
        font-size: 15px;
        margin: 24px 0;
    }
    .mini-img img{
        width: 65px;
    }
    .mini-img-2 img{
        width: 100px;
    }
    .button-text-parent{
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    button{
        padding: 8px 20px;
        margin-right: 0px;
    }
    .button-text-items h2{
        font-size: 24px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }  
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
      /* navbar responsive code start here */
    .logo h2{
        font-size: 28px;
    }
    .nav-items{
        display: block;
    } 
    .nav-text-icon-parent h4{
        display: block;
    }   
     /* banner responsive code start here  */
     .banner-parent{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        margin: 40px 0;
    }
    .banner-text{
        width: 100%;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .banner-text h4{
        font-size: 16px;
    }
    .banner-text p{
        font-size: 15px;
        margin: 24px 0;
    }
    .mini-img img{
        width: 65px;
    }
    .mini-img-2 img{
        width: 100px;
    }
    .button-text-parent{
        display: flex;
        gap: 30px;
        margin-top: 50px;
    }
    button{
        padding: 8px 20px;
        margin-right: 0;
        font-size: 12px;
    }
    .button-text-items h2{
        font-size: 24px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }    
}