*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* navbar code start here */
.nav-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: rgb(11, 143, 11);
    padding: 10px 60px;
}
/* logo code start here  */
.logo h2{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.nav-items ul{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin-left: 9px;
}
.nav-items i{
    font-size: 11px;
    margin-left: 5px;
}
/* nav icon div start here */
.nav-text-icon-parent{
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-text-icon-parent h4{
    font-size: 14px;
}
.nav-icon{
    display: flex;
}
.nav-icon i{
    color: #fff;
    background-color: rgb(2, 94, 2);
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 5px;
    transition: 0.5s;
}
.nav-icon i:hover{
    background-color: yellow;
    color: green;
}
/* banner code start here  */
.banner-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin-top: 30px;
}
.banner-text{
    width: 460px;
}
.banner-text h4{
    font-size: 22px;
    color: rgb(19, 19, 19);
}
.banner-text h1{
    font-size: 43px;
    font-weight: 800;
    color: rgb(29, 29, 29);
}
.mini-img img{
    width: 80px;
}
.mini-img-2 img{
    width: 150px;
}
.banner-text p{
    font-size: 17px;
    font-weight: 600;
    color: rgb(68, 68, 68);
    margin: 24px 0;
}
/* button and text parent code start here */
.button-text-parent{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}
.banner-btn{
    background-color: rgb(7, 156, 7);
    color: #fff;
    padding: 8px 20px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 40px;
    margin-right: 50px;
}
.button-text-items h2{
    font-size: 30px;
    color: rgb(39, 39, 39);
}
.button-text-items h5{
    font-size: 14px;
    color: rgb(124, 124, 124);
}
/* banner img start here */
.banner-img img{
    width: 530px;
    height: 530px;
}
/* Discount section code start here */
.sec-1{
    margin: 90px 0;
}
.discount-container{
    background-color: rgb(168, 212, 78);
    color: white;
}
.discount-parent{
    display: flex;
    gap: 80px;
}
.discount-items{
    display: flex;
    align-items: center;
}
.discount-img img{
    width: 70px;
}
/* Choose section code start here */
.sec-2{
    width: 100%;
    margin-bottom: 50px;
}
.choose-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(180, 177, 177);
    padding-bottom: 50px;
    width: 1170px;
    margin: 0 auto;
}
/* Choose items-1 code start here  */
.choose-items-1 h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.choose-items-1 h2{
    font-size: 39px;
    color: rgb(39, 39, 39);
}
/* Choose items-2 code start here  */
.choose-items-2 p{
    font-size: 15px;
    font-weight: 600;
    width: 700px;
    color: gray;
}
 /* start card code */
 .card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    width: 1170px;
    margin: 50px auto;
    gap: 42px;
 }
 .card-items i{
    background-color: rgb(175, 173, 173);
    padding: 10px;
    color: rgb(7, 168, 7);
    font-size: 18px;
    border-radius: 50%;
 }
 .card-items h2{
    margin: 17px 0;
    color: rgb(39, 39, 39);
 }
 .card-items p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(56, 56, 56);
 }
/* start img code */
.img-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
    margin-top: 60px;
    gap: 35px;
}
.img-items{
    position: relative;
    transition: 0.5s;
}
.img-items img{
    width: 310px;
    border-radius: 20px;
}
.img-text{
    position: absolute;
    bottom: 40px;
    left: 20px;
}
.img-text h5{
    font-size: 16px;
    color: #fff;
}
.img-text h3{
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    margin: 2px 0 13px 0;
}
.img-btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 28px;
    border-radius: 30px;
}
/* Category section code start here */
.Category-section{
    width: 100%;
    margin: 90px 0;
}
/* title code start here */
.title-ul-parent{
    text-align: center;
}
.title-items h2{
    font-size: 34px;
    color: rgb(39, 39, 39);
    margin-top: 5px;
}
.title-items p{
    margin: 18px auto;
    width: 450px;
    font-size: 15px;
    color: rgb(109, 108, 108);
    font-weight: 500;
}
/* ul code start here */
.title-ul{
    margin-top: 50px;
}
.title-ul ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.title-ul li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}
.meat{
    background-color: rgb(2, 88, 2);
    color: #fff;
    padding: 8px 12px;
    border-radius: 30px;
}
/* category card code start here */
.category-card-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 1170px;
    margin: 70px auto 0 auto;
}
.category-card-items{
    display: flex;
    align-items: center;
    gap: 18px;
}
.category-img img{
    width: 80px;
}
.category-text-1{
    display: flex;
    align-items: center;
    padding-bottom: 11px;
    transition: 0.5s;
    gap: 50px;
}
.category-text-1:hover{
    border-bottom: 3px dashed black;
}
.category-text-1 h2{
    color: rgb(54, 54, 54);
    font-size: 20px;
}
.category-text-1 h3{
    font-size: 22px;
    color: rgb(39, 39, 39);
}
.category-text-2{
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 10px;
}
.category-text-2 p{
    font-size: 14px;
    color: rgb(109, 108, 108);
    font-weight: 600;
}
.category-button{
    background-color: transparent;
    border: none;
    color: green;
    font-weight: 600;
    font-size: 12px;
}
/* About section code start here */
.about-section{
    width: 100%;
    margin: 80px 0;
}
.about-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}
/* About img code start here   */
.about-img img{
    width: 600px;
}
/* About text code start here   */
.about-text h4{
    font-size: 17px;
}
.about-text h2{
    font-size: 35px;
    color: rgb(53, 53, 53);
    margin: 5px 0 22px 0;
}
.about-text p{
    font-size: 14px;
    color: rgb(109, 108, 108);
    font-weight: 600;
}
.about-button{
    margin-top: 35px;
    background-color: rgb(2, 151, 2);
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: 700;
}
.about-button:hover{
    background-color: rgb(190, 190, 5);
}
/* selle section code start here */
.selle-section{
    width: 100%;
    margin: 90px 0;
}
.seller-title{
    margin-bottom: 60px;
    text-align: center;
}
.seller-title h2{
    font-size: 34px;
    color: rgb(39, 39, 39);
    margin-top: 5px;
}
.seller-title p{
    margin: 18px auto;
    width: 450px;
    font-size: 15px;
    color: rgb(109, 108, 108);
    font-weight: 500;
}
/* selle card code start here */
.selle-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 53px;
    width: 1170px;
    margin: 0 auto;
}
.selle-img img{
    width: 230px;
    border-radius: 15px;
}
.selle-text h3{
    color: rgb(39, 39, 39);
    margin: 10px 0;
}
.selle-text i{
    color: goldenrod;
    font-size: 12px;
}
.text-icon-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 30px 0;
}
.text h2{
    font-size: 24px;
}
.icon-2 i{
    font-size: 14px;
    background-color: rgb(241, 218, 186);
    color: green;
    padding: 7px;
    border-radius: 50%;
    margin-left: 4px;
}
.cart{
    background-color: rgb(2, 95, 2);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
    transition: 0.5s;
}
.cart:hover{
    background-color: yellowgreen;
}
/* Exclusive section code start here */
.exclusive-section{
    width: 100%;
    margin: 90px 0 80px 0;
    background-color: rgb(140, 235, 140);
    padding: 90px 0;
}
.exclusive-title-parent{
    width: 520px;
    margin: 0 auto;
    text-align: center;
}
.exclusive-title-parent h2{
    font-size: 39px;
    color: rgb(39, 39, 39);
    margin: 5px 0;
}
.exclusive-title-parent p{
    font-size: 17px;
    font-weight: 500;
}
/* exclusive card code start here */
.exclusive-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    width: 1170px;
    margin: 100px auto 0 auto;
}
/* exclusive img code start here */
.exclusive-img img{
    width: 280px;
}
.exclusive-img-2{
    position: relative;
}
.exclusive-img-2 img{
    width: 280px;
}
.exclusive-img-3{
    position: relative;
}
.exclusive-img-3 img{
    width: 550px;
}
.exclusive-img{
    position: relative;
}
/* exclusive text code start here */
.exclusive-text{
    margin: auto;
    position: absolute;
    left: 45%;
    top: 41%;
    transform: translate(-40%,-40%);
    color: #fff;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
.exclusive-text:hover{
    opacity: 1;
}
.exclusive-text h4{
    font-size: 14px;
    font-weight: 400;
}
.exclusive-text h2{
    font-size: 20px;
    font-weight: 400;
}
.exclusive-text h3{
    font-weight: 400;
}
.exclusive-text h5{
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0;
    color: aqua;
}
/* exclusive button code start here */
.exclusive-button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 20px;
    border-radius: 30px;
}
.exclusive-button:hover{
    background-color: rgb(134, 190, 21);
}
/* Testimonials section code start here */
.testimonials-section{
    width: 100%;
    margin-bottom: 80px;
}
/* testimonials title code start here */
.testimonials-title-parent{
    text-align: center;
}
.testimonials-title-parent h2{
    font-size: 30px;
    color: rgb(36, 36, 36);
    margin-bottom: 60px;
}
/* testimonials card code start here */
.testimonials-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}
.testimonials-items{
    border: 1px solid rgb(216, 214, 214);
    padding: 15px;
}
.testimonials-items q{
    font-size: 15px;
    font-weight: 600;
    color: rgb(29, 29, 29);
}
.testimonials-icon i{
    margin: 10px 0;
    color: goldenrod;
    font-size: 13px;
}
/* footer section code start here */
.footer-section{
    background-image:linear-gradient(to right,rgb(1, 59, 1),rgb(4, 155, 4));
    padding: 50px 60px 10px 60px;
    color: #fff;
}
/* footer section one code start here */
.footer-section-1-parent{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/*  first card code start here */
.footer-section-1-items{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-1-icon i{
    padding: 17px;
    font-size: 20px;
    color: green;
    background-color: #fff;
    border-radius: 50%;
}
.footer-1-text h3{
    font-size: 20px;
    font-weight: 500;
}
.footer-1-text p{
    font-size: 14px;
}
hr{
    border-bottom: none;
}
/* footer section items-2 code start here */
.footer-2-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px 0;
}
.footer-2-parent h2{
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 500;
}
.hr-2{
    border-bottom: none;
}
/* first card code start here */
.footer-2-items{
    width: 200px;
}
.footer-2-items h4{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.footer-2-items p{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}
.footer-small-items-1{
    margin-bottom: 14px;
}
.footer-small-items-2{
    margin-top: 14px;
}
.hr-1{
    border-bottom: none;
    margin: 20px 0;
}
/* second card code start here */
.footer-2-items-2 ul li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 8px;
}
/* third card code start here  */
.footer-2-items-3 p{
    font-size: 12px;
    font-weight: 500;
}
.footer-2-icon i{
    margin-right: 10px;
    background-color: rgba(0, 255, 255, 0.301);
    padding: 8px;
    font-size: 20px;
    border-radius: 50%;
    margin-top: 20px;
}
.footer-2-icon i:nth-child(1){
    padding: 8px 12px;
}
.footer-input-icon input{
    width: 250px;
    padding: 13px 20px;
    margin-top: 20px;
    border-radius: 17px;
    border: 1px solid rgb(70, 69, 69);
}
.footer-input-icon i{
    margin-left: -30px;
    color: rgb(26, 25, 25);
}
/* footer section items-3 code start here  */
.footer-3-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    gap: 190px;
    margin: 20px 0 10px 0; 
}
.footer-3-items h2{
    font-size: 29px;
}
.footer-3-items p{
    font-size: 12px;
}
.footer-3-items h5{
    font-size: 14px;
}
.hr{
    border-bottom: none;
}